<div *ngIf="error" class="container">
    <mat-card class="loading" appearance="outlined" color="red">
        <mat-card-content>
            <h1>Oops, an error occurred!</h1>
            <p style="color: red;">{{error}}</p>
        </mat-card-content>
    </mat-card>
</div>

<app-loading *ngIf="!toys && !error" />

<div class="poster">
  <img  mat-card-image src="/poster.jpg" class="poster_image">
</div>

<div class="filter">
  <div class="search_form">
    <mat-form-field class="search_input">
      <mat-label><i class="fa-solid fa-magnifying-glass"></i> Pretraga</mat-label>
      <input matInput type="text" placeholder="Unesite naziv filma..." (keyup)="doFilter()" [(ngModel)]="userInput" >
    </mat-form-field>
  </div>

  <div class="search_form">
    <mat-form-field class="search_input">
      <mat-label><i class="fa-solid fa-magnifying-glass"></i> Opis</mat-label>
      <input matInput type="text" placeholder="Unesite naziv filma..." (keyup)="doFilter()" [(ngModel)]="descInput" >
    </mat-form-field>
  </div>

  <div class="genre_form">
    <mat-form-field class="genre-width">
      <mat-label>Tipovi</mat-label>
      <mat-select (selectionChange)="doFilter()" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of typeNames" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="genre_form">
    <mat-form-field class="glumci-width">
      <mat-label>Godina</mat-label>
      <mat-select (selectionChange)="doFilter()" [(ngModel)]="selectedAgeGroup">
        <mat-option *ngFor="let selectedAgeGroup of ageGroupNames" [value]="selectedAgeGroup">
          {{selectedAgeGroup}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="genre_form">
    <mat-form-field class="glumci-width">
      <mat-label>Target group</mat-label>
      <mat-select (selectionChange)="doFilter()" [(ngModel)]="selectedTargetGroup">
        <mat-option *ngFor="let selectedTargetGroup of targetGroupNames" [value]="selectedTargetGroup">
          {{selectedTargetGroup}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="search_form">
    <mat-form-field class="search_input">
      <mat-label>Period</mat-label>

      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Od" [(ngModel)]="dateFrom" (dateChange)="doFilter()">
        <input matEndDate placeholder="Do" [(ngModel)]="dateTo" (dateChange)="doFilter()">
      </mat-date-range-input>

      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>
  </div>


  <div class="search_form">
    <mat-form-field class="search_input">
      <mat-label><i class="fa-solid fa-magnifying-glass"></i> Do koliko dinara</mat-label>
      <input matInput type="number" (keyup)="doFilter()" [(ngModel)]="priceInput" >
    </mat-form-field>
  </div>

  <div class="genre_form">
    <mat-form-field class="glumci-width">
      <mat-label>Ocena</mat-label>
      <mat-select (selectionChange)="doFilter()" [(ngModel)]="selectedRating">
        <mat-option *ngFor="let selectedRating of ratings" [value]="selectedRating">
          {{selectedRating}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="reset">
    <button (click)="resetFilter()" mat-raised-button>Resetuj filtere</button>
  </div>
</div>

<div *ngIf="toys" class="movies">
  <mat-card class="movie" appearance="outlined" *ngFor="let toy of filteredToys" (click)="goToDetails(toy.permalink)">
    <img mat-card-image [src]="toy.imageUrl" [alt]="toy.name">
    <mat-card-content>
      <h1 class="naslov">{{toy.name}}</h1>
      <p> {{ toy.description }} </p>
      <p> {{ toy.price }} </p>
      <p> {{ toy.type.name }} </p>
      <p> {{ toy.ageGroup.name }} </p>
      <p> {{ toy.productionDate }}</p>
    </mat-card-content>
  </mat-card>
</div>
