<div *ngIf="error" class="wrong">
    <mat-card class="loading" appearance="outlined" color="red">
        <mat-card-content>
          <h1 style="color: red;">Došlo je do greške!</h1>
          <button mat-raised-button routerLink="/toys">Nazad na početnu stranu</button>
        </mat-card-content>
    </mat-card>
</div>

<app-loading *ngIf="!toy && !error"></app-loading>


<div class="container" *ngIf="toy">
  <div *ngIf="toy" class="movie-details">
    <div class="movie-header">

      <div class="poster-container">
        <img [src]="toy.imageUrl" [alt]="toy.name" class="movie-poster">
      </div>

      <div class="movie-info">

        <h1 class="movie-title"> {{toy.name}}</h1>

        <div class="movie-meta">
          <span class="release-date">{{ utils.formatDate(toy.productionDate) }}</span>
          <span class="separator">•</span>
          <span class="runtime">{{ toy.price }}</span>
          <span class="separator">•</span>
          <span class="rating" *ngIf="utils.calculateRating(toy) > 0; else noReviews">
            <i class="fa-solid fa-star"></i>
            {{ utils.calculateRating(toy) }}/5
           </span>
          <ng-template #noReviews>
            <span class="rating no-reviews">
              Nema recenzija
            </span>
          </ng-template>
        </div>

        <div class="genres">
          <strong>Type: </strong>
          <span class="genre-tag">{{ toy.type.name }}</span>
        </div>

        <div class="director">
          <strong>Age Group: </strong> {{ toy.ageGroup.name }}
        </div>

        <div class="cast">
          <strong>Target Group: </strong> {{ toy.targetGroup }}
        </div>

        <div class="plot">
          <p>{{ getTruncatedDescription() }}</p>
          <button mat-raised-button
            *ngIf="shouldShowMoreButton()"
            class="show-more-button"
            (click)="toggleDescription()">
            {{ isDescriptionExpanded ? 'Prikaži manje' : 'Prikaži više' }}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="toy">

  <div class="screening-section">

    <div class="screening-times">
      <mat-card class="screening-card" (click)="reserveToy()" >
        <mat-card-content class="screening-content">
          <div class="screening-type"><i class="fa-solid fa-cart-shopping"></i> Dodaj u korpu</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


