

<div class="container" *ngIf="toy">
  <div class="toy-details">
    <div class="movie-header">
      <div class="poster-container">
        <img [src]="toy.imageUrl" [alt]="toy.name" class="toy-poster">
      </div>

      <div class="toy-info">

        <h1 class="toy-title"> {{toy.name}}</h1>
        
        <div class="toy-meta">
          <span class="rating" *ngIf="utils.calculateRating(toy) > 0; else noReviews">
            <i class="fa-solid fa-star"></i>
            {{ utils.calculateRating(toy) }}/5
          </span>
          <ng-template #noReviews>
            <span class="rating no-reviews">
              Nema recenzija
            </span>
          </ng-template>
        </div>

        <div class="type_toy">
          <strong> Type: </strong>
          <span class="type-toy-tag">{{ toy.type.name }}</span>
        </div>

        <div class="age_group">
          <strong> Age Group: </strong> {{ toy.ageGroup.name }}
        </div>

        <div class="target_grp">
          <strong>  Target Group: </strong> {{ toy.targetGroup }}
        </div>

        <div class="plot">
          <strong>  Description:</strong>
          {{toy.description}}
        </div>

        <div class="plot">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <strong> Price:</strong>
          {{toy.price}} DIN
        </div>

      
<div class="screening-section">
  <mat-card class="screening-card">
    <mat-card-content class="screening-content">

      
      <mat-form-field appearance="outline" class="quantity-field">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="selectedQuantity"
          min="1"
          max="100"
          step="1"
        >
      </mat-form-field>

      
      <div class="screening-type" (click)="reserveToy(selectedQuantity)">
        <i class="fa-solid fa-cart-shopping"></i>  Dodaj u korpu
      </div>

    </mat-card-content>
  </mat-card>
</div>


      </div>
    </div>
  </div>
</div>

